<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuário</title>
  
</head>
<body>
  <%- include('partials/navbar', { title: 'Home' }); %>

  <% for (let user of users) { %>
    <% if (user.id % 2 === 0) { %>
      <h2>Nome: <%=user.name%></h2>
      <h3>Telefone: <%=user.phone%></h3>
    <% } %>
  <% } %>
</body>
</html>