.container {
  color: white;
  display: grid;
  padding: 10px;
  background-color: gray;

  grid-template: 200px 100px / 1fr 3fr 1fr;

  /* grid-row-gap: 16px;
  grid-column-gap: 8px; */
  grid-gap: 16px 8px; /* 10px */
}

.r1 {
  background-color: red;
}

.r2 {
  background-color: blue;
}

.r3 {
  background-color: green;
}

.rect {
}